.bodybg{
    background: antiquewhite url("../../res/indiabg.png") no-repeat;
   background-size:100vw ;

}
.body-container{
    margin: 0vh 10vh;
    background-color: white;
    min-height: 100vh;
    box-shadow: 0px 5px 4px 5px rgba(0, 0, 0, 0.267) ;
    padding: 50px;
}