.heading-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-content-image{
    display:flex;
    justify-content: center;
    
}
.main-content-image img{
    width:70%;
    /* max-height:200px; */

}
